.CV{
    width: 800px;
    border: solid firebrick 1px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;

}
.left-cv{
    width: 70%;
    ;
}
.right-cv {
   
    width: 30%;
    
}
.right-cv img{
    width: 242px;
    height: auto;
}

.info-li{
    list-style-type: none;
    text-align: left;
}
.span-info-li{
    font-size: large;
    font-weight: 600;
}