.CV {
    margin-top: 20px;
    font-size: large;
    display: flex;
    
  }
  

  .navbar-cv{
    background-color: aquamarine;
  }
  .left-content-cv{
background-color: aliceblue;
  }
  .right-content-cv{
    background-color: aqua;
  }




li{
    list-style-type: none;
}

.info-li-firstName{
  
  
}
.info-li-lastName{
  
}
.info-li-email{
  
}
.info-li-phone_number{
  
}
.info-li-title{
  
}
.info-li-address{
  
}
.info-li-description{
  
}
.info-li-position{
  
}
.info-li-company{
  
}
.info-li-city{
  
}
.info-li-from{
  
}
.info-li-to{
  
}
.info-li-universityName{
  
}
.info-li-universityCity{
  
}
.info-li-degree{
  
}
.info-li-subject{
  
}
.info-li-universityFrom{
  
}
.info-li-universityTo{
  
}