.page-title{
  text-align: center;
  background-color: gray;
  margin: 0;
  padding: 15px 15px;
  color: white;
  font-size: 2rem;
}
.content{
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(204, 204, 204);
  justify-content: center;
  padding-bottom: 25px;
  gap:25px;

}


.left-container{
  width: 800px;
  border: solid firebrick 1px;
  padding-bottom: 25px;
  background-color: rgb(238, 238, 238);
  border-radius: 12px;
}

.name_input {
  border-radius: 5px;
  border: none;
  font-size: medium;
  height: 25px;
  margin-bottom: 5px;
  width: 98%;
}
.content h1{
  font-size: large;
  text-align: left;
  
}

.content-information, .content-experience, .content-education{
  padding: 15px 15px;
  margin: 0;  

}
button{
background-color: grey;
color: rgb(204, 204, 204);
font-weight: 700;
font-size: large;
border: none;
border-radius: 4px;
width: 99%;
height: 35px;
}



.right-container{
  width: 800px;
  border: solid firebrick 1px;
  padding-bottom: 25px;
  background-color: rgb(238, 238, 238);
  border-radius: 12px;

}

