*{
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  display: flex;

  flex-wrap: wrap;
  padding: 10px;
  font-size: 1.5rem;
  gap:25px;
  box-shadow: 5px 15px 15px 15px rgba(149, 146, 146, 0.3);
}

.input-forms {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  min-width: 420px;
  background-color: rgb(244, 244, 244);


}
.input-form{
  border-radius: 3px;
 border: none;
 height: 30px;
 margin-bottom: 15px;
}

.content {
  flex: 1;
  text-align: left;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 10px;
  min-width: 420px;
  padding: 0;
  margin: 0;
  background-color: rgb(238, 238, 238);
}

.content-image {
  text-align: right;
  justify-content: space-between;
  display: flex;
  background-color: rgb(228, 230, 231);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding-left: 12px;
  
 
}
.div-fistlastname{
  display: grid;
  grid-template-columns: 2fr 2fr;

}
.content-image p{
  font-size: 2rem;
  font-weight: 700;
  text-align: left;
  
}
.content-image p:nth-child(3) {
  font-size: 1rem;
  font-weight: 700;
  text-align: left;

}

.avatar-image {
  width: 180px;
  height: 180px;
  border-top-right-radius: 5px;
  

}

.form-education{
  display: flex;
  flex-direction: column;

}
.form-information{
  display: flex;
  flex-direction: column;

}


.form-experience{
  display: flex;
  flex-direction: column;

}
.form-education input{

  width: 99.5%;

}
  .form-information input{
   
    width: 99.5%;

  }
  .form-experience input{
    
          width: 99.5%;
  }

  .form-education button{
    height: 35px;
    width: 100%;
    border: none;
    background-color: gray;
    color: white;
    font-size: large;
    border-radius: 4px;
  }
    .form-information button{
      height: 35px;
      width: 100%;
      border: none;
      background-color: gray;
      color: white;
      font-size: large;
      border-radius: 4px;
    }
    .form-experience button{
      height: 35px;
      width: 100%;
      border: none;
      background-color: gray;
      color: white;
      font-size: large;
      border-radius: 4px;
    }
  
h1, p{
  padding-left: 25px;
}


.textarea-no-resize {
  resize: none;
  width: 100%;
  height: 90px;
  font-size: 1rem;
}


@media (max-width: 500px) {
  img {
    display: none;
  }
}