.container {
  display: flex;
  border: solid blue 1px;
  padding: 10px;

}

.input-forms {
  flex: 1;
  border: solid green 1px;
  padding: 10px;

}

.content {
  flex: 1;
  text-align: right;
  border: solid firebrick 1px;
  padding: 10px;

}
